
 
 .image-preview img {
    border: 30px solid red;
    border-right: 30px solid lightpink; 
    border-top: 30px solid skyblue;
    border-bottom: 30px solid lightgreen; 
    border-left: 30px solid #ffefd5;

}



